:root{

  /* ## Colors */
    
    /* ### Primary */
    
    --Red: hsl(0, 100%, 74%); 
    --Green: hsl(154, 59%, 51%);
    
    /* ### Accent */
    
    --Blue: hsl(248, 32%, 49%);
    
    /* ### Neutral */
    
    --Dark-Blue: hsl(249, 10%, 26%); 
    --Trans-Dark-Blue: hsla(249, 10%, 26%, 0.3); 
    --Grayish-Blue: hsl(246, 25%, 77%);

    font-size: 16px;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Poppins', sans-serif;
  background-image: url('./images/bg-intro-mobile.png');
  background-color: var(--Red);
  text-align: center;
  color: white;
}

.container{
  padding: 4rem 1rem;
}

article{
  margin-bottom: 3rem;
}

article h1{
  padding: 1rem;
}

.inputForm p:first-child{
  background-color: var(--Blue);
  padding: 1rem 5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 0px var(--Trans-Dark-Blue);
}


.inputForm form{
  border: 1px solid var(--Grayish-Blue);
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
  position: relative;
}


.inputForm input{
  display: block;
  outline: none;
  border: 1px solid var(--Grayish-Blue);
  padding: 1rem 0.5rem;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2.5rem;
}

.inputForm input::placeholder{
  font-weight: 700;
}

.inputForm input[class ~= "error"]{
  border: 3px solid var(--Red);
  margin-bottom: 0.3rem;
}

.inputForm .error-msg{
  color: var(--Red);
  font-size: 0.7rem;
  text-align: right;
  /* border: 1px solid green; */
}

.inputForm img{
  display: none;
}

.inputForm .error-icon{
  display: unset;
  position: relative;
  bottom: 60px;
  left: 45% ;
}

.inputForm button{
  display: block;
  outline: none;
  border: none;
  width: 100%;
  color: white;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
  background-color: var(--Green);
}

.inputForm button:hover{
  opacity: 0.9;
}

.inputForm button:active{
  transform: scale(0.99);
}


.inputForm form p:last-child{
  font-size: 0.7rem;
  color: var(--Grayish-Blue);
  padding: 0 1rem;
}


.inputForm form p:last-child span{
  color: var(--Red);
  font-weight: 700;
}


.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a {
   /* color: hsl(228, 45%, 44%); */
   color: var(--Dark-Blue);
}

@media(min-width: 760px) {
  body{
    background-image: url('./images/bg-intro-desktop.png');
  }

  .container{
    display: flex;
    /* border: 1px solid green; */
    margin: 0 auto;
    gap: 100px;
    width: max-content;
  }
  
  article{
    max-width: 500px;
    align-self: center;
    text-align: left;
  }

  article h1{
    font-size: 2.5rem;
    padding-left: 0;
    /* border: 1px solid green; */
  }
}